.git
.gitignore
.dockerignore
.env
.env.example
.vscode
node_modules
compose.yaml
example.compose.yaml
Dockerfile
renovate.json
datToImageConverter.py
recommendedCSP.txt
LICENSE
README.md
