[Container]
Image=vpa.build
Pull=never
ContainerName=vpa

Network=vpa.network
# TODO: remove this local test port once a reverse proxy provides access to Jenkins.
PublishPort=127.0.0.1:3000:3000

Environment=TRUSTED_PROXIES=10.89.0.0/16
Environment="APP_TITLE=Virtual Public Artboard"
Environment=FILE_NUM_LIMIT=50

Volume=%h/containers/vpa/virtual-public-artboard:/var/lib/vpa:U,Z

ReadOnly=true
ReadOnlyTmpfs=false

UserNS=auto
NoNewPrivileges=true
DropCapability=all

HealthStartupCmd=["/nodejs/bin/node", "/app/healthcheck.mjs"]
HealthStartupInterval=5s
HealthStartupTimeout=5s
HealthCmd=["/nodejs/bin/node", "/app/healthcheck.mjs"]
HealthInterval=30s
HealthTimeout=5s
HealthOnFailure=kill
Notify=healthy

Memory=100M
PidsLimit=25

[Service]
CPUQuota=30%
Restart=always
RestartSec=5s
ExecStartPre=/usr/bin/mkdir -p -m 0700 %h/containers/vpa/virtual-public-artboard

[Install]
WantedBy=default.target
